.desktop-banner {
  position: relative;
}

.img-fluid {
  width: 100%;
}
.desktop-banner .desktop-content{
  position: absolute;
  top:  125px;
  right: 50%;
  left: 50px;
}
.desktop-banner img{
  height: 550px;
}
.desktop-banner .desktop-content .MuiTypography-root{
  /* color: white; */
  font-weight: bold;
}

.main-container{
  width: 85%;
  margin: 0 auto;
}
.button-container{
  display: flex;
  gap: 24px;
}
.MuiButtonBase-root.MuiButton-root {
  text-transform: capitalize;
  margin-top: 8px; 
  margin-bottom: 8px; 
}
.MuiButtonBase-root.MuiButton-contained{
  color: "#FFF"
}
.stat-banner{
  background-image: url("./assets/images/statsBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.stat-item-container *{
  color: #FFF;
}
.header-section a{
  text-decoration: none;
  color: #FFF;
  display: flex;
  gap: 8px;
}